body {
  background-color: #222;
  font-family: arial, sans-serif;
  font-size: 20px;
  padding: 10px;
}
/* стиль всех осей,при необходимости можно задать стиль для каждой(axis--x,axis--y0,axis--y1) */
.axis {
  font: 10px sans-serif;
  /*stroke:tomato;        
  stroke-width : 1; */
}
/* рисок*/
/* 
.axis line {
  fill: red;
    stroke: tomato; 
  shape-rendering: crispEdges;
  stroke-width : 2
}
*/

.line {
  fill: none;
  stroke-width: 2px;
  stroke: black;/* значение по умолчанию для графика*/
}
#chart_line0 {
  stroke: blue;
}
#chart_line1 {
  stroke: red;
}
#chart_line2 {
  stroke: green;
}
.graph-svg-component {
  background-color: whitesmoke;
}
/* стиль сетки*/
.grid-line line {
  stroke: blue;
  stroke-opacity: 0.2;
}

#chart_botton_text {
  font-family: sans-serif;
  fill: blue;
  font-size: 20px;
}
#chart_top_text {
  font-family: sans-serif;
  fill: blue;
  font-size: 20px;
}
